<h1>New List</h1>

<%= form_for @list do |f| %>
  <%= f.hidden_field :user_id, { value: current_user.id } %>
  <%= f.label :list_name%><br>
  <%= f.text_field :list_name%><br>
  <br>
  <%= f.label :public%>
  <%= f.check_box :public%><br>
  <br>
  <%= f.submit 'Create list'%><br>
<% end %>
