<%= stylesheet_link_tag "application" %>
<h1>Login</h1>
<br>
<%= form_tag(login_path) do %>
  <%= label_tag :username %><br>
  <%= text_field_tag :username %><br>
  <br>
  <%= label_tag :password %><br>
  <%= password_field_tag :password %><br>
  <br>
  <%= submit_tag 'Login', class: 'btn btn-primary' %>
<% end %>
