<%= stylesheet_link_tag "application" %>
    <h1><%= @user.username.capitalize %></h1>

    <% if current_user.id != @user.id %>
      <p><%= @user.username.capitalize %> has <%= @user.followers.count %> follower(s)</p>

  <% if current_user.following?(@user) %>
        <%= button_to 'Unfollow', unfollow_path(followed_id:  @user.id), method: :delete, class: 'btn btn-primary', remote: true %><br>
        <br>
  <% else %>
        <%= button_to 'Follow', follow_path(followed_id:  @user.id), method: :post, class: 'btn btn-primary', remote: true %><br>
        <br>
  <% end %>

  <h3>Lists</h3>
  <p>___________________________________</p>
  <br>
    <% @user.lists.each do |list| %>
      <%= link_to list.list_name.capitalize, list, class: "link-to" %>
      <p><%= list.restaurants.count %> spots</p>
      <p>___________________________________</p>
    <% end %>


      <%= link_to 'Back to my profile', user_path(current_user), class: "link-to" %><br>
    <% end %>

<% if current_user.id == @user.id %>

  <p>You have <%= current_user.followers.count %> follower(s)</p>
    <%= link_to 'View your followers', view_followers_path, class: "link-to" %><br>
  <br>
  <p>You are currently following <%= current_user.followeds.count %> user(s)</p>
    <%= link_to 'View your followings', view_followeds_path, class: "link-to" %><br>
  <br>
  <%= button_to 'See more users you can follow', users_path, method: :get, class: 'btn btn-primary', remote: true %><br>
  <br>

  <%= button_to 'Update Account', edit_user_path(@user), method: :get, class: 'btn btn-primary', remote: true %>
  <br>
  <%= button_to 'Logout', logout_path, method: :delete, class: 'btn btn-primary', remote: true  %>
  <br>
  <%= button_to 'Deactivate', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary', remote: true %>
  <br>

  <br>
  <br>

  <h4>Your List</h4>

    <p>You have <%= current_user.lists.count %> list(s).</p>
    <% current_user.lists.each do |list| %>
      <%= link_to list.list_name.capitalize, list, class: "link-to" %> – <%= list.restaurants.count %> spot(s)
      <p>___________________________________</p>
    <% end %>

  <%= button_to 'Create a new list', new_list_path, method: :get, class: 'btn btn-primary', remote: true %><br>
  <br>

  <% if current_user.lists != [] %>
    <%= button_to 'Add a restaurant', new_restaurant_path, method: :get, class: 'btn btn-primary', remote: true %>
  <% end %>

<% end %>
