<h1><%= @user.username.capitalize %></h1>

<% if current_user.id != @user.id %>
  <% if current_user.following?(@user) %>
    <%= button_to 'Unfollow', unfollow_path(followed_id:  @user.id), method: :delete %>
  <% else %>
    <%= button_to 'Follow', follow_path(followed_id:  @user.id), method: :post %>
  <% end %>
<% end %>

<% if current_user.id == @user.id %>
  <%= button_to 'Logout', logout_path, method: :delete %>
  <%= button_to 'Deactivate account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
