<h1>Update Restaurant</h1>

<%= form_for @restaurant do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <br>
  <%= f.label :yelp_url %><br>
  <%= f.text_field :yelp_url %><br>
  <br>
  <%= f.submit 'Update restaurant' %>
<% end %>
<br>
<br>
<%= button_to 'Back', restaurant_path(@restaurant), method: :get, class: 'btn btn-primary', remote: true %>
